@font-face {
  font-family: 'waterwayregular';
  src: url('fonts/waterway-webfont.woff2') format('woff2'),
       url('fonts/waterway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  
}  


header {
  width: 25rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'waterwayregular';
  font-size: 2rem;
  border-radius: 10px;
  color: red;
}

header h1 {
  font-weight: 100;
  background-image: linear-gradient(to right, darkblue, darkorchid);
  background-clip: text;
  padding: .5rem;
}

header h1 span {
  color: red;
}

main {
  width: 100%;
}

.choose-side, .newGame {
  text-align: center;
  margin-top: .5rem;
}

.choose-side {
  position: relative;
  width: 21rem;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.draggables {
  position: relative;
  width: 21rem;
  height: 6rem;
  margin: 0 auto;
}

.positionedP, .positionedB {
  height: 2.5rem;
  width: 100%;
}

.positioned {
  position: absolute;
  width: 5.5rem;
  color: white;
  cursor: grab;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  padding: .25rem .25rem .25rem .25rem;
  border-radius: 5px;
}

.positionedP > * {
  top: 1rem;
  width: 100%;
}

.positionedB > * {
  bottom: 1rem;
  width: 100%;
}

#human1, #human2 {
  background-color: blue;
}

#bot1, #bot2 {
  background-color: red;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 21rem;
  height: 21rem;
  margin: 0 auto;
  outline: 2px solid black;
}

.left-dropbox, .right-dropbox {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbols {
  font-size: 6rem;
  font-family: 'waterwayregular';
  font-weight: 100;
  color: black;
}

.choose-side h1 {
  width: 6rem;
  margin: 0;
}

.dropbox {
  width: 5.5rem;
  height: 1.65rem;
  outline: dotted 2px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, .5);
}

.dropbox > * {
  word-spacing: 1.25rem;
}

#drop1, #drop2 {
  position: relative;
}

.game-board > * {
  width: 7rem;
  height: 7rem;
  border: 2px solid black;
  font-family: 'waterwayregular';
}

.game-square {
  text-align: center;
  padding-top: 1rem;
  font-size: 6rem;
}